body{
    background-color: #f0f0f0;
    font-family:sans-serif;
    margin: 0;
    @media (max-width: 700px){
        height: 1200px;
    }
}

header{
    display: flex;
    margin-bottom: 0px;
    background: linear-gradient(135deg, rgb(209, 209, 209), #c3c0bd), 
    radial-gradient(circle at bottom, rgba(0, 0, 0, 0.3), transparent);
    border-radius: 35px;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 700px){
    .header_container{
        display: block;
        max-width: 700px;
    }
    header{
        justify-content: center;
    }
    .container_center{
        display: none;
        margin-left: 0;
    }
    .container_left{
        margin-left: 0;
    }
    .container_right{
        margin-left: 0;
    }
    .nav{
        display: none;
        padding-left: 0;
    }
    .menu{
        display: none;
        padding-left: 0;
    }
    .logo{
        display: flex;
        padding-bottom: 20px;
        position: absolute;
        top: 20px;
        left: 25px;
    }
    .h1{
        display: flex;
        margin-right: 100px;
        
    }
    .git-container{
        width: 500px;
    }
    .git{
        max-width: 500px;
        display: block;
        padding: 10px;
        margin: 0;
        margin-top: 0;
        margin-left: 60px;
    }
    .Wgithub{
        max-width: 700px;
        width: 500px;
        margin-left: 0px;
        display: flex;
        justify-content: left;
    }
    main{
        max-width: 700px;
        width: 700px;
    }
}


.container_center{
    display: flex;
    margin-left: 350px;
}

.container_left{
    margin-left:80px;
}

.container_right{
    margin-left: 450px;
}

.nav{
    display: flex;
    padding-left: 20px;
}

.menu{
    font-size: 20px;
    color: rgb(24, 23, 23);
    text-decoration: none;
    justify-content: space-between;
    padding-left: 20px;
    transition: font-size 0.2s ease;
}
.menu:hover {
    font-size: 24px;
    color:black;
}

.logo{
    display: flex;
    width: 80px;
    align-items: right;
}

h1{
    font-size: 50px;
    cursor: pointer;
}

main{
    position: flex;
    text-align: center;
    line-height: 50px;
    max-width: auto;
    width: auto;
    @media (max-width: 700px){
        max-width: auto;

    }
}

.git{
    display: flex;
    margin-top: 80px;
    border: solid 2px black;
    border-radius: 100px;
    width: 1890px;
}

.git_Z{
    display: flex;
    justify-content: center;
}

.git_T{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.Wgithub{
    margin-top: 80px;
    background-color: rgb(209, 209, 209); ;
    border-radius: 50px;
    width: 900px;
    margin-left: 475px;
    padding: 35px;
    border: solid 3px rgb(65, 65, 65);
    @media (max-width: 700px){
        margin-left: 35px;
        width: 500px;
    }
}

.Wgithub_T{
    font-size: 20px;
}

.function{
    margin-top: 80px;
    border: solid 2px black;
    border-radius: 100px;
    width: 1890px;
    @media (max-width: 700px){
        width: 500px;
        max-width: 700px;
        margin-left: 55px;
        padding-right: 30px;
    }
}

.function_T{
    font-size: 20px;
    width: 1800px;
    margin-left: 45px;
    @media (max-width: 700px){
        width: auto;

    }
}

.system{
    margin-top: 80px;
    background-color: rgb(209, 209, 209); ;
    border-radius: 50px;
    width: 900px;
    margin-left: 475px;
    padding: 35px;
    border: solid 3px rgb(65, 65, 65);
    @media (max-width: 700px){
        margin-left: 40px;
        width: 500px;
    }
}

.system_T{
    font-size: 20px;
}

.comunity{
    margin-top: 80px;
    border: solid 2px black;
    border-radius: 100px;
    width: 1890px;
    @media (max-width: 700px){
        width: 500px;
        margin-left: 55px;
        padding: 20px;
    }
}

.comunity_T{
    font-size: 20px;
}

.intsub{
    background-color:rgb(224, 224, 224);
    border-radius: 100px;
    @media (max-width: 700px){
        width: 600px;
        margin-left: 25px;
    }
}

.intsub-container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 100px;
}

.intsub-container_left{
    width: 860px;
    font-size: 20px;
    @media (max-width: 700px){
        width: 500px;
    }
}

.intsub-container_right{
    width: 860px;
    font-size: 20px;
    @media (max-width: 700px){
        width: 500px;
    }
}

.dollar{
    width: 23px;
}

.reg{
    margin-top: 100px;
    margin-bottom: 80px;
    @media (max-width: 700px){
        width: 600px;
    }
}
.reg_Z{
    @media (max-width: 700px){
        width: 600px;
    }
}
.reg_T{
    font-size: 20px;
    @media (max-width: 700px){
        width: 600px;
        margin-left: 25px;
    }
}
footer{
    background-color:rgb(209, 209, 209) ;
    margin-bottom: 0px;
    padding-bottom: 0;
    padding-top: 100px;
    border-top: 2px solid black;
    border-radius: 50px 50px 0 0;
}
.footer__text{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer__img{
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.grup{
    width: 100px;
}

